.heading {
    display: flex;
    justify-content: center;
    background-color: DodgerBlue;
    justify-content: space-around;
    flex-wrap: wrap;
}

.heading > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 20px;
}

.siteName {
    display: flex;
    justify-content: center;
    background-color: DodgerBlue;
    justify-content: space-around;
    flex-wrap: wrap;
}

.siteName > div {
    background-color: #f1f1f1;
    width: 100%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 20px;
}

.mainImage {
    display: flex;
    justify-content: center;
    background-color: DodgerBlue;
    justify-content: space-around;
    flex-wrap: wrap;
}

.mainImage > div {
    background-color: #f1f1f1;
    width: 100%;
    margin: 10px;
    text-align: center;
    line-height: 275px;
    font-size: 20px;
}

.bookRooms {
    display: flex;
    justify-content: center;
    background-color: DodgerBlue;
    justify-content: space-around;
    flex-wrap: wrap;
}

.bookRooms > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 20px;
}